.App {
  text-align: center;
  padding: 30px;
  margin: 30px;
}
.button {
  background-color: rgb(2, 2, 46);
  color: white;
  padding: 10px;
  border: none;
  margin: 10px;
  cursor: pointer;
  outline-color: inherit;
}

.button-increment {
  background-color: green;
  color: white;
  padding: 10px;
  border: none;
  margin: 10px;
  cursor: pointer;
  outline-color: inherit;
}

.button-decrement {
  background-color: red;
  color: white;
  padding: 10px;
  border: none;
  margin: 10px;
  cursor: pointer;
  outline-color: inherit;
}
